#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.cachefile
*.bmp
*.vsp
*.dds
*.exe
*.fbx
*.testsettings
*.png
*.psess
*.vsmdi
*.sbr
TestProject3*/
*.exe
Bin*/
*.application
*.xnb
*.exe.manifest
*.pdb
*.dll
Content*/
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
obj*/
[Rr]elease*/
_ReSharper*/
